.main_content {
    /* border: 1px solid blue; */
    max-width: 100%;
    padding: 0 160px 120px;
}

.notice_summary{
    margin-top: 67px;
    /* background-color: yellow; */
    
}

.notice_summary_container {
    width: 26.6%;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    /* border: 1px solid red; */
   position: relative;

}

.notice_summary_container:before{
    content:'';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #efefef;
    left: 0;
    top: 0;

}

.notice_summary_container:first-child:before{
    display: none;
}

.notice_summary_container:last-child {
    width: 20.2%;
    padding-right: 0;
    
}

.notice_summary_container:first-child {
    padding-left: 0;
}

.notice_summary:after {
    content: '';
    display: block;
    clear: both;
}

.notice_title {
    font-family: NanumSquare-EB, 나눔고딕, 돋움, sans-serif;
    font-size: 14px;
    color: #212121;
    /* border: 1px solid green; */
}

.news_box {
    width: 100%;
    height: 76px;
    margin: 31px 0 30px;

}

.news_title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: NanumSquare-B, 나눔고딕, 돋움, sans-serif;
    font-size: 16px;
    color: #333;
}

.news_text {
    height: 44px;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    color: #878890;
    line-height: 1.6;
}

.news_box a:hover .news_title,
.news_box a:focus .news_title {
    text-decoration: underline;
}

.career_text {
    height: 76px;
    margin: 31px 0 30px;
    font-family: NanumSquare-EB, 나눔고딕, 돋움, sans-serif;
    font-size: 18px;
    color: #333;
}

.stock_info_box {
    height: 76px;
    margin: 27px 0 30px;
    color: #333;
}

.price {
    float: left;
    font-size: 28px;
    font-family: NanumSquare-EB, 나눔고딕, 돋움, sans-serif;
    letter-spacing: -1.7px;

}


.unit {
    font-size: 12px;
    font-family: NanumSquare-B, 나눔고딕, 돋움, sans-serif;
}

.figure.type {
    float: right;
    /* 이중 클라스인거 잊지말기 */
    font-size: 14px;
    font-family: NanumSquare, 나눔고딕, 돋움, Dotum, sans-serif;
    margin: 15px 0px 0px;
}

.figure {
    margin-top: 21px;
}

/* krx 밑으로 떨어트리기 위해 */
.stock_price_box:after {
    content: '';
    display: block;
    clear: both;
}

.stock_price_box {
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

/* 작은 역삼각형 넣는 부분 (before) */
.figure.type:before {
    content: '';
    display: inline-block;
    /* 500이랑 같이 들어가야하므로 inline 을 줌 */
    height: 6px;
    width: 10px;
    background: url(../img/sprite.png) no-repeat;
    background-size: 474px 1250px;
    -webkit-background-size: 474px 1250px;
    background-position: -287px -38px;
    margin-right: 10px;
}


.date {
    /* border: 1px solid blue; */
    text-align: right;
    margin-top: 12px;
    font-size: 12px;
    font-family: NanumSquare-L, 나눔고딕, 돋움, sans-serif;
    color: #878890;
}

.notice_link {
    padding-right: 32px;
    font-family: NanumSquare-B, 나눔고딕, 돋움, Dotum, sans-serif;
    font-size: 15px;
    color: #333;
    position: relative;
}

.icon_arrow {
    display: block;
    width: 18px;
    height: 18px;
    right: 0;
    top: -1px;
    /* border: 1px solid red; */
    position: absolute;
}

.icon_arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 8px;
    background: url(../img/sprite.png) no-repeat;
    background-size: 474px 1250px;
    -webkit-background-size: 474px 1250px;
    background-position: -102px -50px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}

.notice_link:hover,
.notice_link:focus {
    text-decoration: underline;
}

.notice_link:hover .icon_arrow,
.notice_link:focus .icon_arrow {
    background-color: #00c73c;
    border-radius: 100%; 
}

.notice_link:hover .icon_arrow:before,
.notice_link:focus .icon_arrow:before {
    width: 6px;
    height: 10px;
    background-position: -108px -49px;
}

/* 네이버 메인 서비스 영역 */
.content_main_service {
    margin-top: 98px;
}

.main_service_container {
    font-size: 0;
}

.service_thumbnail_box {
    
    /* border: 1px solid red; */
    width: 33.3%;
    padding-top: 25%;
    /* padding 은 콘텐츠 */
    display: inline-block;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.service_thumbnail_box.list1 {
    background-image: url(../img/img_main_content1.png)
}

.service_thumbnail_box.list2 {
    background-image: url(../img/img_main_content2.png)
}

.service_thumbnail_box.list3 {
    background-image: url(../img/img_main_content3.png)
}

.service_thumbnail_box.list4 {
    background-image: url(../img/img_main_content4.png)
}

.service_thumbnail_box.list5 {
    background-image: url(../img/img_main_content5.png)
}

.service_thumbnail_box.list6 {
    background-image: url(../img/img_main_content6.png)
}

.service_thumbnail_box.list7 {
    background-image: url(../img/img_main_content7.png)
}

.service_thumbnail_box.list8 {
    background-image: url(../img/img_main_content8.png)
}

.service_thumbnail_box.list9 {
    background-image: url(../img/img_main_content9.png)
}

.service_thumbnail_box:nth-child(2),
.service_thumbnail_box:nth-child(5),
.service_thumbnail_box:nth-child(8){
    width: 33.4%;
    /* 100프로를 맞추기 위해 0.1 채움 */
}

.thumbnail_dimmed {
    display: block;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 62, 80, 0.5);
    /* 마우스 hover 했을 때 뜨는 어두운 배경색상 적용 */

    opacity: 0;
    filter: alpha (opacity=0);
    transition: opacity.3s;
    -webkit-transition: opacity .3s;
    /* 애니메이션이 부드럽게 올라오게 쓰는 용도 */
    /* opacity 에 filter 같이 써준다 */
}

.thumbnail_dimmed dl dt{
    font-family: NanumSquare-EB, 나눔고딕, 돋움, sans-serif;
    font-size: 22px;
    color: #fff;
    margin-bottom: 2px;

}

.thumbnail_dimmed dl dd{
    font-family: NanumSquare-L, 나눔고딕, 돋움, Dotum, sans-serif;
    color: #fff;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* 한줄로 들어가게 하는 요소 */
    overflow: hidden;
    }

.thumbnail_dimmed dl:before {
/* 위치 */
/* 공간-사이즈 */
/* 백그라운드 이미지 선언 */
/* 백그라운드 위치 값 */
    content:'';
    position: absolute;
    top: 0;
    left: 30px;
    width: 23px;
    height: 23px;
    background: url(../img/sprite.png) no-repeat;
    background-size: 474px 1250px;
    /* 사진 원래 크기 */
    -webkit-background-size: 474px 1250px;
    background-position: -199px -129px;
    
}


.thumbnail_dimmed dl{
    
    position: absolute;
    /* 위치를 밑에 내려오게 하려면 준다 */
    bottom: -130px;
    /* 음성값을 주는 이유는 애니메이션을 넣을 때,
    그 부분이 밖으로 나갔다가 올라가는 거 때문에 */
    left: 0px;
    padding-top: 50px; 
    /* 높이값 지정하는데에도 쓰임 */
    padding-left: 30px;
    width: 100%;
    transition: bottom 0.3s; 
}

/* 마우스 hover시 dl이 뜨는거 */
.thumbnail_dimmed:focus{
    opacity: 1;
    /* opacity: 0.0-1.0으로 지정할 수 있음
    숫자가 클 수록 더 투명해짐 */
    filter:alpha (opacity=100);
    /* IE8 이하 경우에 같이 넣어줌
    숫자 클수록 투명 */
}

.service_thumbnail_box:hover .thumbnail_dimmed{
    opacity: 1;
    filter:alpha (opacity=100);
} 

/* hover style--bottom-up 하는 애니메이션 적용 */

.thumbnail_dimmed:focus dl{
  bottom: 30px;
}
.service_thumbnail_box:hover .thumbnail_dimmed dl{
    bottom: 30px;
}  

/* platform_support 위 영역 */

.content_platform_support{
    margin-top: 112px;
    text-align: center;
}

.support_info_title{
    margin-bottom: 17px;
    font-family: NanumSquare-B, 나눔고딕, 돋움, Dotum, sans-serif;
    font-size: 32px;
    color: #212121;
}

.support_info_text {
    font-family: NanumSquare, 나눔고딕, 돋움, Dotum, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 134px;
}

/* platform_support_container 영역 */

ul.platform_support_list{
    /* border: 1px solid blue; */
    max-width: 1360px;
    margin: 0 auto;
}

li.support_container_item {
    width: 25%;
    float: left; 
}

ul.platform_support_list:after{
    content: '';
    display: block;
    clear: both;
}

li.support_container_item{
    position: relative;
}

li.support_container_item:before{
    content:'';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #efefef;
    left: 0;
    top: 0;
}
/* li 사이 줄 넣는 부분 */

li.support_container_item:first-child:before{
    display: none;
}


li.support_container_item a{
    display: block;
    width: 100%;
    padding: 135px 10px 0px;
    /* border: 1px solid red; */
    position: relative;
}

li.support_container_item a:before{
    content:'';
    position: absolute;
    height: 100px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url(../img/sprite.png) no-repeat;
    -webkit-background-size: 474px 1250px;
    background-size: 474px 1250px;

}

li.support_container_item a.creators:before{
    width: 87px;
    background-position: 0px -957px;
}

li.support_container_item a.business:before {
    width: 101px;
    background-position: -92px -957px;
    
}

li.support_container_item a.developers:before {
    width: 110px;
    background-position: -199px -957px;
}


li.support_container_item a.project_f:before {
    width: 101px;
    background-position: -309px -957px;
}

li.support_container_item dt{
    margin-bottom: 10px;
    font-family: NanumSquare-B, 나눔고딕, 돋움, Dotum, sans-serif;
    font-size: 16px;
    color: #00b843;
}

li.support_container_item dd{
    font-family: NanumSquare-B, 나눔고딕, 돋움, Dotum, sans-serif;
    font-size: 15px;
    color: #878890;
    line-height: 1.6;

}

.support_container_item dt:hover, .support_container_item dt:focus{
    text-decoration: underline;
}





