/* reset */
ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.blind {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* header */
header {
    height: 90px;
    background-color: #09b3d3;
}

header .header_wrap {
    position: relative;
    width: 1070px;
    margin: 0 auto;
    border: 1px solid purple;
}

header .header_wrap>h1.header_logo {
    border: 1px solid red;
}

header .header_wrap>.gnb {
    border: 1px solid lime;
    position: absolute;
    top: 1px;
    right: 118px;
}

header .header_wrap>.gnb>li {
    float: left;
    position: relative;
}

header .header_wrap>.gnb>li+li::after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 1px;
    height: 26px;
    background-color: #16859d;
    opacity: .6;
}

header .header_wrap>.gnb>li>a {
    display: block;
    position: relative;
    width: 210px;
    height: 39px;
    text-align: center;
}

header .header_wrap>.gnb>li.youtube>a::after {
    left: 30px;
    width: 150px;
    background: url(../img/gnb01_on.png);
}

header .header_wrap>.gnb>li.instagram>a::after {
    left: 23px;
    width: 163px;
    background: url(../img/gnb02_on.png);
}

header .header_wrap>.gnb>li.summer>a::after {
    left: 17px;
    width: 176px;
    background: url(../img/gnb03_on.png);
}

header .header_wrap>.gnb>li>a:hover::after {
    opacity: 1;
}

header .header_wrap>.gnb>li>a::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    height: 39px;
    background: no-repeat 0 0;
    opacity: 0;
    transition: opacity .4s linear;
}

header .header_wrap>a.home {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 90px;
    text-align: center;
}

header .header_wrap>a.home::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100px;
    height: 90px;
    background: url(../img/btn_home_on.png) no-repeat 0 0;
    opacity: 0;
}

header .header_wrap>a.home:hover::after {
    opacity: 1;
}

/* container */
/* section 메인부분 */
.container {
    position: relative;
    background: url(../img/bg_summer_pat02.jpg) center 0 repeat-x;
}

.container>.section_main {
    position: relative;
    padding: 0;
    margin: 0;
    height: 861px;
}

.container>.section_main>.section_inner>a {
    border: 1px solid blue;
    position: absolute;
    display: block;
    top: 154px;
    left: 50%;
    margin-left: -251px;
}

.container>.section_main>.section_inner>a:hover {
    background: url(../img/btn_intro_on.png)no-repeat;
}

.container>.section_main>.section_inner>a>.twosome_text_top>span {
    display: inline-block;
    vertical-align: top;
}

.container>.section_main>.section_inner>a>.twosome_text_top {
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    text-align: center;
}

.container>.section_main>.section_inner>a>.twosome_text_top>span:nth-child(1) {
    margin-top: 8px;
}

.container>.section_main>.section_inner>a>.twosome_text_top>span:nth-child(2) {
    margin-top: 12px;
    margin-left: -6px;
}

.container>.section_main>.section_inner>a>.twosome_text_top>span:nth-child(3) {
    margin-top: 4px;
    margin-left: -6px;
}

.container>.section_main>.section_inner>a>.twosome_text_top>span:nth-child(4) {
    margin-top: 0px;
    margin-left: 1px;
}

.container>.section_main>.section_inner>a>.twosome_text_top>span:nth-child(5) {
    margin-top: 11px;
    margin-left: -7px;
}

.container>.section_main>.section_inner>a>.twosome_text_top>span:nth-child(6) {
    margin-top: 4px;
    margin-left: -7px;
}

.container>.section_main>.section_inner>a>.twosome_text_top>span:nth-child(7) {
    margin-top: 11px;
    margin-left: -7px;
}

.container>.section_main>.section_inner>a>.twosome_text_top>span:nth-child(8) {
    margin-top: 7px;
    margin-left: -4px;
}

/* 비쥬얼 페이지 사이드 배경 */
.container>.section_main>span.bg_img_01 {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -792px;
    width: 447px;
    height: 267px;
    background: url(../img/intro_bg_01.png) no-repeat 0 0;
}

.container>.section_main>span.bg_img_02 {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 212px;
    width: 1296px;
    height: 350px;
    background: url(../img/intro_bg_02.png) no-repeat 0 0;
}

.container>.section_main>span.bg_img_03 {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1159px;
    width: 602px;
    height: 435px;
    background: url(../img//intro_bg_03.png) no-repeat 0 0;
}

.container>.section_main>span.bg_img_04 {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -102px;
    width: 1355px;
    height: 287px;
    background: url(../img//intro_bg_04.png) no-repeat 0 0;
}

/* 불꽃놀이 애니메이션 스타일 */
.container>.section_main>.fire_wk {
    position: absolute;
    left: 50%;
    opacity: 0;
    animation: 1.4s infinite normal linear firework;
}

.container>.section_main>.fire_wk.img01 {
    border: 1px solid lime;
    top: 130px;
    margin-left: -257px;
}

.container>.section_main>.fire_wk.img02 {
    border: 1px solid lime;
    top: 305px;
    margin-left: 258px;
    animation-delay: 0.5s;
}

.container>.section_main>.fire_wk.img03 {
    border: 1px solid lime;
    top: 285px;
    margin-left: 597px;
    animation-delay: 1s;
}

.container>.section_main>.fire_wk.img04 {
    border: 1px solid lime;
    top: 600px;
    margin-left: -533px;
    animation-delay: 0.8s;
}

.container>.section_main>.fire_wk.img05 {
    border: 1px solid lime;
    top: 542px;
    margin-left: 325px;
    animation-delay: 1.2s;
}

/* keyframe animation */
@keyframes firework {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    50% {
        transform: scale(1, 1);
        opacity: 1;
    }

    70% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }

    100% {
        transform: scale(0, 0);
        opacity: 0;
    }
}



/* section_product부분 */
.container>.section_product {
    position: relative;
    padding: 0 0 65px 0;
    margin: 0;
    background-color: #fdfbe1;
}

.container>.section_product>.product_slide {
    position: relative;
    width: 1070px;
    margin: 0 auto;
    text-align: center;
}

.container>.section_product>.product_slide>h2 {
    border: 1px solid red;
    margin: 0;
    padding: 69px 0 64px;
}