footer {
    width: 100%;
    background-color: #f8f9fa;
    bottom:
}

.footer_wrap {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 74px 0px 70px;
    /* border: 1px solid red; */
    position: relative;
}

.footer_logo {
    position: absolute;
    width: 63px;
    height: 13px;
    left: 30px;
    top: 76px;
    background: url(../img/footer_logo.png) no-repeat;
    -webkit-background-size: 63px 13px;
    background-size: 63px 13px;
}

.footer_menu>li {
    position: relative;
}

.footer_menu>li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -10px;
    width: 1px;
    height: 12px;
    background-color: lightgray;

}

.footer_menu>li:first-child:before {
    display: none;
}

.footer_menu {
    position: absolute;
    left: 105px;
    top: 74px;
    font-size: 0;

}

.footer_menu>li {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;

}

.footer_menu .footmenu_item {
    font-family: NanumSquare, 나눔고딕, 돋움, Dotum, sans-serif;
    color: #878890;
}

.affiliate_box {
    position: absolute;
    right: 30px;
    
}

.affiliate_box .btn_affiliate:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    background: url(../img/sprite.png);
    background-size: 474px 1250px;
    -webkit-background-size: 474px 1250px;
    background-position: -222px -26px;
}

.btn_affiliate {
    padding-right: 26px;
    position: relative;
    border: none;
    outline: none;

}

ul.footer_upmenu {
    display: none;
    position: absolute;
    left: -91px;
    bottom: 0px;
    width: 200px;
    border: 1px solid #dfe0e1;
    text-align: left;
    padding: 27px 0 25px;
    background-color: #fff;
}


.affiliate_item {
    margin-top: 13px 0;

}

.affiliate_item:first-child {
    margin-top: 0;

}



.affiliate_item>a {
    display: block;
    padding: 0 24px;
    width: 100%;
    color: #878890;
    /* border: 1px solid powderblue; */
}

.affiliate_item>a span {
    position: relative;
    /* border: 1px solid yellow; */
}

.affiliate_item>a span:before {
    display: none;
    content: '';
    position: absolute;
    right: -25px;
    top: -3px;
    width: 18px;
    height: 18px;
    /* border: 1px solid red; */
    background: url(../img/sprite.png) no-repeat;
    -webkit-background-size: 474px 1250px;
    background-size: 474px 1250px;
    background-position: -104px -68px;
}

/*hover focus*/
.affiliate_item>a:hover,
.affiliate_item>a:focus {
    color: #00b843;
}


.affiliate_box:hover .footer_upmenu {
    display: block;
}

.affiliate_item>a:hover span:before,
.affiliate_item>a:focus span:before {
    display: block;
}

.footer_copy {
    font-family: NanumSquare-EB, 나눔고딕, 돋움, Dotum, sans-serif;
    color: #878890;
    font-size: 15px;
    
}

