.container {
    padding: 80px 0 160px;
}

.main_slide {
    position: relative;
    /* 부모 */
    overflow: hidden;
    /* slide 400% 선언으로 인한 가로 스크롤 제거 */
}

.slide_info_container {
    position: absolute;
    /* 자식 */
    top: 0;
    width: 100%;
    height: 100%;
}

.slide {
    width: 400%;
}

.slide_item {
    float: left;
    width: 25%;
}

.slide_item img {
    width: 100%;
}

.slide:after {
    content: '';
    display: block;
    clear: both;
    /* float의 영역을 받지않습니다 */
}

.slide_info_box {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
}

.slide_logo {
    position: absolute;
    right: 160px;
    background-image: url(../img/sprite.png);
    -webkit-background-size: 474px 1250px;
    background-size: 474px 1250px;
}

.slide_logo.smartlens {

    width: 190px;
    height: 38px;
    background-position: 0 -1062px;
    bottom: 78px;
}

.slide_logo.flower {

    width: 190px;
    height: 53px;
    background-position: -143px -1101px;
    bottom: 60px;
}

.slide_logo.spacegreen {
    width: 134px;
    height: 50px;
    background-position: 0px -1104px;
    bottom: 70px;

}

.slide_logo.labs {
    width: 176px;
    height: 31px;
    background-position: -187px -1157px;
    bottom: 70px;
}

.slide_text_box {
    position: absolute;
    left: 160px;
    bottom: 157px;
    /* top:50%; */
    /* transform: translate(0, -50%); */
}

.slide_title {
    font-family: "NanumSquare-EB", 나눔고딕, 돋움, "Dotum", sans-serif;
    margin-bottom: 32px;
    font-size: 36px;
    /* line-height: 46px; */
}

.slide_title strong {
    display: table-cell;
    vertical-align: middle;
    height: 92px;
    /* border: 1px solid red; */
}

/* .slide_text_box {
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
} */

.slide_text {
    font-family: NanumSquare, 나눔고딕, 돋움, "Dotum", sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

.slide_text span {
    /* border: 1px solid red; */
    display: table-cell;
    vertical-align: middle;
    height: 48px;
}

.slide_progressbar {
    position: absolute;
    left: 160px;
    bottom: 221px;
    width: calc(100% - 320px);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.slide_progressbar .fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background-color: #fff;
    /* transition: width 0.3s ease 0s; */
}

.slide_paging {
    position: absolute;
    left: 160px;
    bottom: 114px;
    color: #fff;
    font-size: 12px;
    font-family: NanumSquare-EB, 나눔고딕, 돋움, Dotum, sans-serif;
}

.slide_paging .current {
    padding-right: 14px;
    border-right: 1px solid #d6d6d6;
}

.slide_paging .total {
    padding-left: 14px;
    font-family: NanumSquare, 나눔고딕, 돋움, sans-serif;
}

/* bxSlider 영역  */

.main_slide > .bx-wrapper {
    border: none;
    margin-bottom: 0;
}

.main_slide .bx-wrapper .bx-prev,
.main_slide .bx-wrapper .bx-next {
    position: absolute;
    bottom: 198px;
    width: 46px;
    height: 46px;
    background: url(../img/sprite.png) no-repeat;
    -webkit-background-size:474px 1250px;
    background-size:475px 1250px;
    opacity: .8;
    filter: alpha(opacity=80);
    border: 0;
}
.main_slide .bx-wrapper .bx-controls-direction a {
    top: auto;
}
.main_slide .bx-wrapper .bx-prev {
    left: 85px;
    background-position: -297px -99px;
}
.main_slide .bx-wrapper .bx-next {
    right: 85px;
    background-position: -347px -99px;
}
.main_slide .bx-wrapper .bx-prev:hover,
.main_slide .bx-wrapper .bx-prev:focus {
    background-position: -297px -99px;
    opacity: 1;
    filter: alpha(opacity=100);
}
.main_slide .bx-wrapper .bx-next:hover,
.main_slide .bx-wrapper .bx-next:focus {
    background-position: -347px -99px;
    opacity: 1;
    filter: alpha(opacity=100);
}
.main_slide .bx-wrapper .bx-pager {
    display: none;
}












